.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
data_analysis_pipeline_eg
dsci-310-homework
dsci-310-individual-assignment-quarto-r
dsci320-Assiquiab
dsci320-FinalProject
dsci_320_environment.yaml
econ.ipynb
individual_assignment-5
bolt-project
STAT-301-Project
PycharmProjects
Untitled.ipynb
